{% extends "videos/base.html" %}
{% block content %}
<div class="wrapper fadeInDown" style="padding: 50px;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <!-- <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>
 -->
    <!-- Login Form -->
    <p><center>Email has been sent to you with instructions to reset password.</center></p>
    

    <!-- Remind Passowrd -->

  </div>
</div>  
{% endblock %}


