{% extends "videos/base.html" %}
{% block content %}
<div class="wrapper fadeInDown" style="padding: 50px;">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <!-- <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>
 --><strong><center><h1>Password Reset</h1></center></strong>
    <!-- Login Form -->
    <p><center>Forgotten your password? Enter your email address below,and we'll email instructions for setting a new one</center></p>
    <form action="#" method="post"><center>
      {% csrf_token %}  
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email">
      <input type="submit" class="fadeIn fourth" value="Submit">
    </center>
    </form>

    <!-- Remind Passowrd -->

  </div>
</div>  
{% endblock %}


